{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% translate 'Server error (500)' %}{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Server error' %}
  </div>
{% endblock %}

{% block content %}
<!----------------------------- HTTP 500 ------------------------------>
<div id="content-main" class="lucus-page__main">
  <h1>{% translate 'Server Error (500)' %}</h1>
  <p>{% translate 'There’s been an error. It’s been reported to the site administrators via email and should be fixed shortly. Thanks for your patience.' %}</p>
</div>
<!------------------------------ END 500 ------------------------------>
{% endblock %}
